{% extends "base.html" %}

{% block title %}User Login{% endblock %}


{% block content %}

<div class="row justify-content-center">
    {% if register_user_form.errors %}
      <div class="alert alert-danger">
        {% for field_errors in register_user_form.errors.values() %}
          {% for error in field_errors %}
            {{ error }}<br>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}



    <div class="col-md-4">
        <h2 class="text-center">User Signup</h2>
        <form method="POST" action="/register">
            {{ register_user_form.hidden_tag() }}
            
            <div class="mb-3">
                <label for="email" class="form-label">Email ID (Username)</label>
                {{ register_user_form.email(class="form-control", placeholder="Enter email") }}
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Full Name (Username)</label>
                {{ register_user_form.name(class="form-control", placeholder="Enter Full Name") }}
            </div>


            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    {{ register_user_form.password(class="form-control", id="password", placeholder="Enter password") }}
                    <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">Show</button>
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Repeat Password</label>
                <div class="input-group">
                    {{ register_user_form.password_confirm(class="form-control", id="password_confirm", placeholder="Enter password") }}
                    <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">Show</button>
                </div>
            </div>


            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <div class="input-group">
                    {{ register_user_form.address(class="form-control", rows = "2", placeholder="Enter Address") }}
                </div>
            </div>

            <div class="mb-3">
                <label for="pincode" class="form-label">Pincode</label>
                <div class="input-group">
                    {{ register_user_form.pincode(class="form-control", placeholder="Enter Pincode") }}
                </div>
            </div>


            <button type="submit" class="btn btn-primary w-100">Register</button>

            <div class="text-center mt-3">
                <a href="{{ url_for_security('login') }}">Login Here</a>
            </div>
        </form>
    </div>
</div> 
{% endblock %}







