
{% extends "base.html" %}


{% block title %}
Parking Lot
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form action="{{ url_for('user.book_spot' , lot_id = lot.id)}}" method="POST">
          {{ form.hidden_tag() }}

          {% for field in [form.spot_no, form.id, form.user_id, form.price] %}
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{ field.label.text }}</label>
                <div class="col-sm-5">
                  {{ field(class="form-control", readonly=true) }}
                </div>
              </div>
          {% endfor %}


          <div class="mb-3 row">
            <label for="{{ form.vehicle_number.id }}" class="col-sm-4 col-form-label">{{ form.vehicle_number.label.text }}</label>
            <div class="col-sm-5">
              {{ form.vehicle_number(class="form-control", placeholder="Eg:-GA07K1958") }}
              {% for error in form.vehicle_number.errors %}
                <div class="text-danger">{{ error }}</div>
              {% endfor %}
            </div>
          </div>


        <div class="row">
          <div class="col-sm-8 offset-sm-4">
            <div class="d-flex">
              {{ form.submit(class="btn btn-success me-2") }}
              <a class="btn btn-danger" href="{{ url_for('user.user_dashboard') }}">Cancel</a>
            </div>
          </div>
        </div>


        </form>
      </div>
    </div>
  </div>

{% endblock %}

